.container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: space-between;
  margin: 5em;
}

mat-card{
  margin-left: 70px; 
  border-radius: 10px;
  margin-bottom: 70px;
  border: 1px solid rgba(128, 128, 128, 0.768);
  border-radius: 30px;
 
}

img{
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  height: 250px;
}

.mat-raised-button{
  background-color: #3bb653;
  font-weight: bold;
  width: 90px;
  color: beige;
  margin-left: 150px;
  margin-top: auto;
 
}

mat-card-title,
mat-card-subtitle
{
  text-align: center;
}

mat-paginator{
  display: flex;
  /* justify-content: center; */
  color: blue;
  align-items: end;
  margin-left: auto;
  margin-right:35%;
}
