.container {
  margin-left: 200px;
  width: 80%;
  justify-content: center; 
 
}

table {
    width: 100%;
  }

  h1{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    margin-top: 20px;
} 