<div class="heading-text">Course List</div>
<button class="btn-success" mat-flat-button (click)="openDialog()">
  Add new Course
</button>
 <div class="container">  
     <mat-card *ngFor="let course of courses" appMovable>
    <div class="courseImage">
      <img [src]="course.image" />
    </div>
    <mat-card-content>
      <div class="text">
        <b class="title">Course Id :</b>
        <b class="detail">{{ course.id }}</b>
      </div>
      <div class="text">
        <b class="title">Course Name :</b>
        <b class="detail">{{ course.name }}</b>
      </div>
      <div class="text">
        <b class="title">Author :</b>
        <b class="detail">{{ course.author }}</b>
      </div>
      <div class="text">
        <b class="title">Duration :</b>
        <b class="detail">{{ course.duration }}</b>
      </div>
      <div class="text">
        <b class="title">Description :</b>
        <b class="detail">{{ course.description.slice(0, 30) }}...</b>
      </div>
      <div class="text">
        <b class="title">Number of Students :</b>
        <b class="detail">{{ getNumberOfStudents(course.id) }}</b>
      </div>
      <div class="text">
        <b class="title">Lessons :</b>
        <br />
        <ng-container *ngFor="let lesson of course.lessons; let i = index">
          <b class="detail">
            <b class="subtitle">section {{ i + 1 }} :</b>
            {{ lesson.section }}
          </b>
          <br />
          <b class="detail">
            <b class="subtitle">title:</b>
            {{ lesson.parts[0].title }}
          </b>
          <br />
          <b class="detail">
            <b class="subtitle">source:</b>
            {{ lesson.parts[0].source }}</b
          >
          <br />
        </ng-container>
      </div>
      <div class="buttons">
        <button mat-icon-button aria-label (click)="onDelete(course.id)">
          <mat-icon class="btn-delete">delete</mat-icon>
        </button>
        <button mat-icon-button aria-label (click)="openModify(course.id)">
          <mat-icon class="btn-create">create</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card> 
</div>
<app-pagination #paginator [length]="length" [pageIndex]="currentPage" [pageSize]="pageSize" (changePage)="handlePageEvent($event)" [paginationOption]="[4,8,12]" ></app-pagination> 
